$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
// endbower

body {
	overflow-y: scroll!important; /* always show scroll bar, prevents jumping of layout after XHR finishes*/
	padding-top: 70px;
}
table {
	counter-reset: li;
}
tbody>tr>th::before {
	counter-increment: li;
	content: counter(li);
	text-align: left;
}
th[ng-click] {
	cursor: pointer;
}
tr.nologin,
tr.nologin *:not(button) {
	color: #aaa;
}
button {
	color: #000;
}
.is_admin .name::after {
	content: " (BT-Admin)";
	font-weight: bold;
}
.public0 td,
.public0 > .name > a {
	color: #999 !important;
}
.post_status-2 > td {
	color:#aaa;
}
.post_status-1 > td {
	color:#aaa;
	font-weight: bold;
	font-size: 105%;
}
.msg {
	.post_status0 > & {
		font-weight: bold;
		color: #ccc;
	}
	.post_status1 > & {
		font-weight: bold;
		font-size: 105%;
	}
	.post_status2 > & {
		color: green;
	}
}
.btn {
	> .glyphicon {
		color: #000; /* overwrite grayed out lines*/
	}
	&:not([disabled]) .glyphicon-eye-close {
		color: #f00;
	}
}

bt-top-notification,
bt-notification {
	position: fixed;
	z-index: 1000;
	top: 5px;
	right: 5px;
	padding-top: 50px; /* for navbar-fixed-top */
	padding-left: 5px;
	height: 0;
	max-width: 100%;
	> .alert {
		transition: 0.5s ease all;
		animation: slideFromRight 0.3s 1;
		opacity: 1;
		position: relative;
		transform: translate(0, 0);
		max-width: 100%;
	}
	> .alert-hide {
		opacity: 0;
		transform: translate(200%, 0);
	}
}
bt-top-notification {
	z-index: 10000;
}
@keyframes slideFromRight {
	0% {
		transform: translate(200%, 0);
	}
	100% {
		transform: translate(0, 0);
  }
}
@keyframes spin {
	from {
		transform: rotate(0deg) translate(-50%, -50%);
	}
	to {
		transform: rotate(360deg) translate(-50%, -50%);
	}
}
*[ng-messages] {
	margin-top: -10px;
}
.alert {
	margin-bottom: 5px;
}


.glyphicon.btn-spinning {
	animation: spin 1s infinite linear;

	font-size: 120%;
	width: 1em;
	height: 1em;
	position: absolute;
	top: 50%;
	left: 50%;

	transform-origin: 0 -6%;
}
@keyframes moveDown {
	from {
		transform: translate(0, -50px) rotateZ(0deg);
	}
	to {
		transform: translate(0, 0) rotateZ(360deg);
	}
}
.transparent {
	opacity: 0.4;
}
*[btn-spinner] {
	position: relative;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse {
	/* fixes wrong padding applied by fixed-top*/
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-text.navbar-right {
	margin-right: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 17em;
}
.navbar-brand {
	animation: moveDown 1s 1 ease;

	>.navbar-brand-small {
		position: absolute;
		opacity: 0;
		top: -40px;
		margin-right: 90px;
		transform: translate(0, 0) rotateZ(0deg);
		transition: all 1s ease;
	}
	>.navbar-brand-big {
		transition: all 1s ease;
		opacity: 1;
		position: relative;
	}
}
@media (min-width: 768px)  {
	.navbar-brand {
		> .navbar-brand-small {
			opacity: 1;
			position: relative;
			transform: translate(0, 40px) rotateZ(360deg);
			transition: all 1s ease;
			margin-right: 0;
		}
		> .navbar-brand-big {
			opacity: 0;
			position: absolute;
			top: 15px;
			left: 15px;
			transition: all 0.5s ease;
			transform: translate(-100%, 0);
		}
	}
}



.container {
	overflow: hidden;
}

td.input-group > select { /* for comment-status */
	min-width: 90px;
}


.splashscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: #fff;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		width: 100%;
		height: 20px;
		background: url("../img/Logo_Bittubes_245x40.png") 50% 50% no-repeat;
		background-size: contain;
	}
}


.bool {
	position: relative;

	&::before {
		position: absolute;
		padding: 10px 24px;
		z-index: 0;
		pointer-events: none;
		top: 0;
	}
	&.inline::before {
		padding: 5px 12px;
	}
}
.bool0::before {
	content: "= false";
	color: red;
}
.bool1::before {
	content: "= true";
	color: green;
}
.site-footer {
	margin-top: 2em;
	position: relative;
	display: block;
	padding: 2em 0;
	border-top: 1px solid #eee;
	color: #999;
	font-size: 82%;
}
.defaultVal {
	text-decoration: underline;

	&::after {
		content: "default";
		position: absolute;
		bottom: -2.5em;
		right: -4.5em;
		background-color: #d9edf7;
		padding: 0.5em;
		border: 1px solid #bce8f1;
		border-radius: 4px;
		display: none;
	}
	&:hover::after {
		display: block;
	}
}

.preview {
	display: block;
	max-height: 0;
	transition: all 0.5s ease;
	overflow: hidden;
	opacity: 0;
	padding: 0;
}
input:focus + .preview,
select:focus + .preview,
textarea:focus + .preview {
	max-height: 15em;
	opacity: 1;
	padding: 10px 15px;
}
.panel > .form-control {
	border: 0;
}



/* bootstrap extended helper classes */
.noresize {
	resize: none;
}
.resize-y {
	resize: vertical;
}
:not(.has-error)>.content-editable {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}
.content-editable:focus {
	background-color: #fff;
}.label-as-badge {
	border-radius: 1em;
}

.pre {
	white-space: pre;
}
.prewrap {
	white-space: pre-wrap;
}
.nowrap {
	white-space: nowrap;
}
.unknown .form-control-static {
	color: #a94442;
}
.mo-only {
	display: none;
}
*:hover>.mo-only {
	display: inline-block;
}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.max-w100 {
	max-width: 100px;
}
.max-w120 {
	max-width: 120px;
}
