<div class="page-header">
	<h3>Reset Password</h3>
</div>
<form name="editForm" class="form-horizontal" ng-submit="lostCtrl.authenticate()" novalidate>
	<div class="form-group" ng-class="{ 'has-error': (editForm.login.$dirty && editForm.login.$invalid) || submitted }">
		<label class="col-sm-3 control-label" for="login">Login:</label>
		<div class="col-sm-4">
		<input class="form-control" type="text" autocomplete="off" name="login" id="login" 
		placeholder="{{lostCtrl.login}}" 
		readonly>
		</div>
	</div>
	<div class="form-group" ng-class="{ 'has-error': (editForm.password.$dirty && editForm.password.$invalid) || submitted }">
		<label class="col-sm-3 control-label" for="password">{{'password' | i18n}}:</label>
		<div class="col-sm-4">
		<input class="form-control" type="password" autocomplete="off" name="password" id="password"
		ng-model="lostCtrl.pw" 
		required>
		</div>
	</div>
	<div ng-messages="editForm.password.$error" ng-if='(editForm.password.$dirty && editForm.password.$invalid) || submitted' class="alert-warning col-sm-offset-3 col-sm-4">
		<!-- <p ng-message="pattern">{{'form_err_pattern' | i18n:0:['password','a-z, A-Z, 0-9, ., -, _']}} </p> -->
		<p ng-message="required">{{'form_err_req' | i18n:0:'password'}}</p>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-4">
		<button class="btn btn-primary btn-lg" type="submit">{{"login" | i18n}}</button>
		</div>
	</div>
</form>
<div ng-show="lostCtrl.spinning" class="splashscreen"></div>
<!-- <div splashscreen="lostCtrl.tryReauthPromise"></div> -->